body {
  background-color: #DBDFFD;
}

hr {
  background-color: white;
  border-style: none;
  border-top: 2px dotted grey;
  border-width: 10px;
  width: 15%;
}

img {
  height: 200px;
}
