body {
  background-color: #DBDFFD;
}

hr {
  background-color: white;
  border-style: none;
  border-top: 2px dotted grey;
  border-width: 10px;
  width: 15%;
}

img {
  height: 200px;
}
h1
{
  color:#EF9F9F;
}
h2
{
  color:#B20600;
}

h3
{
  color:#FFCD38;
}
a[href] {
  color: #FFCD38;
}
th
{
  color:#E6BA95;
}
